
body {
  font-family: Trebuchet MS, Trebuchet MS, sans-serif ;text-align: center;
  background-color: #345586;}
h1, h2 {
  color: #ec900c;}
p{
color: #ec900c;}
.headline{color: #e04432; font-weight:bold ; }

